@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

html,
body {
  margin: 0px;
  height: 100%;
}

:root {
  height: 100%;
}
main {
  font-family: 'Snowburst One', cursive;
  height: 100%;
  background: #69ba94;
}
h1 {
  text-align: center;
}

.list {
  width: 600px;
  margin-top: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.row-header {
  background: white;
  font-weight: bold;
  border-bottom: solid 1px black;
}
.row-row {
  background: #ff5c5c;
  border-bottom: solid 1px black;
}

.namecard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100px;
  height: 50px;
}

.namecard-img {
  height: 50%;
  margin-right: 5px;
}

footer {
  text-align: center;
  font-size: 8px;
}